body
{
    text-align: center;
   
}
.container{
  background-color:mediumslateblue;  
}
#app {
    background-color: linear;
}

#myCarousel
{
    background-color:darkorchid;
}

#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-top: 15px;
    color : white;
    font-size: 20px;
}
